@charset "utf-8";
// 页面整体
$site-width: 980px;
$site-width_max: 2048px;
$site-width_min: 320px;
$bg-color: #fff;
$bg-red: #cf4646;

// 边框
$border-color: #eee9dc;

// 询单王
$blue: #4767ff;

// 信贷家
$skyBlue: rgb(77, 167,240);
$gray: rgb(245, 245, 245);
$dark: rgb(187, 187, 187);

$fontLight: rgb(158, 158, 158);
$fontDark: rgb(107, 107, 107);
$fontBlack: rgb(58, 58, 58);

$wechatColor: rgb(83, 178, 53);
$alipayColor: rgb(79, 167, 232);


$sidebarWidthOpen: 200px;
$sidebarWidthClose: 65px;

